/* classes for which dark alternative is not present or needs to be updated */

.log_message			{color: #386AFF;	font-weight: bold;}

/* OOC */
.ooc .looc				{color: #3A9696;}
.ooc .elevated			{color: #2e78d9;}
.ooc .moderator			{color: #184880;}
.ooc .developer			{color: #1b521f;}
.ooc .admin				{color: #b82e00;}

/* Admin: Private Messages */
.pm  .howto				{color: #ff0000;	font-weight: bold;		font-size: 200%;}
.pm  .in				{color: #ff0000;}
.pm  .out				{color: #ff0000;}
.pm  .other				{color: #0000ff;}

/* Admin: Channels */
.mod_channel			{color: #735638;	font-weight: bold;}
.mod_channel .admin		{color: #b82e00;	font-weight: bold;}
.admin_channel			{color: #9611D4;	font-weight: bold;}

/* Radio: Misc */
.deadsay				{color: #530FAD;}
.angelsay				{color: #ffaa00;}
.deptradio				{color: #ff00ff;}	/* when all other department colors fail */
.newscaster				{color: #750000;}

/* Radio Channels */
.comradio				{color: #193A7A;}
.centradio				{color: #5C5C8A;}

.engradio				{color: #A66300;}
.medradio				{color: #008160;}
.supradio				{color: #5F4519;}

/* Game Messages */

.moderate				{color: #CC0000;}

.alium					{color: #00ff00;}
.revolution				{color: #B00030; font-weight: bold; font-style: italic;}

.reflex_shoot			{color: #000099; font-style: italic;}

/* Languages */

.monkey					{color: #22228B;}
.rough					{font-family: Trebuchet MS, cursive, sans-serif;}
.say_quote				{font-family: Georgia, Verdana, sans-serif;}
.russian				{color: #635d17}
.serbian				{color: #Ad6f1d}
.jive					{color: #666666}
.tajaran				{color: #803B56;}
.tajaran_signlang		{color: #941C1C;}
.akhani					{color: #AC398C;}
.skrell					{color: #00B0B3;}
.skrellfar				{color: #70FCFF;}
.soghun					{color: #228B22;}
.solcom					{color: #22228B;}
.changeling				{color: #800080;}
.sergal					{color: #0077FF;}
.vulpkanin				{color: #B97A57;}
.vox					{color: #AA00AA;}
.rough					{font-family: "Trebuchet MS", cursive, sans-serif;}

.good                   {color: #4f8529; font-weight: bold;}
.bad                    {color: #ee0000; font-weight: bold;}
.neutral 				{color: #555555; font-weight: bold;}

